<mat-form-field class="example-full-width" appearance="fill" style="left: 30%; width: 500px; margin: 2%;">
  <mat-label>Search Query</mat-label>
  <input matInput [(ngModel)]="query">
  <mat-icon matSuffix (click)="search()">search</mat-icon>
</mat-form-field>

<section style=" margin-left: 10%; margin-right: 10%">
  <table style="width: 100%;" mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
    <ng-container matColumnDef="artistImg">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let row">
        <img mat-card-sm-image src="row.artistImg">
      </td>
    </ng-container>
    <ng-container matColumnDef="albumImg">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let row">
        <img mat-card-sm-image src='{{row.albumImg}}'>
      </td>
    </ng-container>
    <ng-container matColumnDef="trackName">
      <th mat-header-cell *matHeaderCellDef>Track Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.trackName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="artistName">
      <th mat-header-cell *matHeaderCellDef>Artist Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.artistName}}</td>
    </ng-container>
    <ng-container matColumnDef="kind">
      <th mat-header-cell *matHeaderCellDef>Kind</th>
      <td mat-cell *matCellDef="let row">{{ row.kind}}</td>
    </ng-container>
    <tr class="filters-card" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"></tr>
  </table>
  <div *ngIf="loading">
    <mat-spinner [diameter]="50" style="left: 30%; margin: 10px"></mat-spinner>
  </div>
  <mat-card class="no-data-msg mat-elevation-z0" *ngIf="!loading && dataSource.filteredData.length === 0 ">
    <h3>No data available.</h3>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</section>
